@model IEnumerable<LODSInterviewProject.Models.User>
@{ var OrgId = ((Organization)ViewData["Organization"]).Id; }

<h2>
    Organization Users
</h2>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(modelItem => item.OrganizationId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Completed)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>}

</table>

<p>
    @Html.ActionLink("Add User", "Create", new { id = ((Organization)ViewData["Organization"]).Id }) |
    @Html.ActionLink("Back to Organizations List", "Index", "Organization")
</p>
